services:
  postgres:
    image: postgres:17
    container_name: postgres
    logging:
      options:
        max-size: 50m
    environment:
      - POSTGRES_USER=example
      - POSTGRES_PASSWORD=1
      - POSTGRES_DB=reference
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "reference"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s

volumes:
  postgres_data:
